# Auth (GitLab OAuth)
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
GITLAB_BASE_URL=https://labs.gauntletai.com
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Database
DATABASE_URL=

# Encryption
ENCRYPTION_KEY=

# Anthropic (development only)
ANTHROPIC_API_KEY=
