# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Database
DATABASE_URL=

# Encryption
ENCRYPTION_KEY=

# Anthropic (development only)
ANTHROPIC_API_KEY=
